[Desktop Entry]
Type=Application
Name=StreamMatrix
GenericName=Multi-Stream Video Matrix Viewer
GenericName[ru]=Матричный просмотрщик видеопотоков
Comment=High performance CCTV and live video stream matrix viewer
Comment[ru]=Высокопроизводительный просмотрщик видеопотоков видеонаблюдения
Icon=stream-matrix
Exec=stream-matrix
Terminal=false
Categories=Qt;AudioVideo;Video;Viewer;Network;
Keywords=cctv;viewer;stream;matrix;rtsp;ipcam;
StartupWMClass=stream-matrix
